Makefile.in
Makefile
config.log
config.status
compile
configure
depcomp
install-sh
missing
aclocal.m4
autom4te.cache
src/dsk/*.o
src/dsk/.deps
src/dsk/.dirstamp
src/dsk/codepages/*.o
src/dsk/codepages/.deps
src/dsk/codepages/.dirstamp
src/dsk/programs/*.o
src/dsk/programs/.deps
src/dsk/programs/.dirstamp
librosco.a
